body
{
	margin: 0;
	padding: 0;
	color: #adeade;
	font-family: 'Lato', sans-serif;
	background-image: url("img/background.jpg");
	font-size: 1.9em;
}
#fontello
{
	position: absolute;
	right: 250px;
	font-size: 250px;
	bottom: -20px;
}
em
{
	color: #fff;
	text-shadow: 
	1px 1px #000,
	-1px 1px #000,
	-1px -1px #000,
	1px -1px #000;
}
figcaption#rubik
{
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	display: none;
}
.wrapper
{
	width: 100%;
	padding: 0;
	margin: 0;
}
#start
{
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.97;
	background-color: #0d0d0d;
	color: #dedede;
	z-index: 100;
	text-align: center;
}
.rubik
{
	opacity: 1;
}
header#header
{
	background-color: #bf4080;
	color: white;
	padding: 15px 0;
	text-align: center;
}
header#header h1
{
	font-weight: 900;
	text-transform: uppercase;
	font-size: 35px;
	margin-bottom: 3px;
	letter-spacing: 2px;
	text-shadow: 
	2px 2px #9e1030,
	-2px 2px #9e1030,
	-2px -2px #9e1030,
	2px -2px #9e1030;
}
input[type=submit]
{
	position: fixed;
	top: 100px;
	right: 90px;
	width: 140px;
	height: 30px;
	font-size: 20px;
	font-weight: 900;
	background-color: green;
	color: #1affff;
	padding: 20px;
	text-align: center;
	box-sizing: content-box;
	transition: all .3s ease-in-out;
	border: 5px solid white;
	border-radius: 20px;
		-webkit-box-shadow: 17px 4px 63px -18px rgba(255,255,255,1);
		-moz-box-shadow: 17px 4px 63px -18px rgba(255,255,255,1);
		box-shadow: 17px 4px 63px -18px rgba(255,255,255,1);
	outline: none;
	cursor: pointer;
}
input[type=submit]:hover
{
	background-color: #015501;
	color: #aaa;
}
nav#mainnav 
{
	background-color: LightBlue;
	text-align: left;
	padding: 10px 0;
	margin: 0;
	letter-spacing: 1px;
	font-size: 25px;
	position: relative;
}
nav#mainnav ol
{
	list-style-type: none;
	margin-left: 24px;
	display: inline-block;
}
nav#mainnav img 
{
	display: inline-block;
}
nav#mainnav img#rbc
{
	position: absolute;
	top: 50px;
}
.VS
{
	color: black;
	text-shadow:
	-2px 2px #1101c2;
	font-size: 70px;
	letter-spacing: 2px;
	position: absolute;
	top: 105px;
	left: 50%;
}
nav#mainnav ol > li a
{
	transition: color .3s cubic-bezier(1,-0.41,.49,.49), background-color .3s linear;
	color: #a4228f;
	text-decoration: none;
	display: block;
}
nav#mainnav ol > li:hover a
{
	color: #60004b;
	background-color: #8090ff;
}
article.art
{
	margin-top: 60px;
	padding: 0px 0px 20px 0px;
	border-top: 5px double white;
	border-bottom: 5px double white;
	border-left: 2px dashed #333;
	border-right: 2px dashed #333;
		-webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
	background-color: rgba(102,102,102,0.3);
	color: #fff;
}
article.cube img
{
	border: 2px solid black;
}
article.cube
{
	border-left: 2px dashed #8390d8;
	border-right: 2px dashed #8390d8;
	color: #111;
}
article header
{
	background-color: #ff2222;
	color: white;
	font-weight: 900;
	font-size: 2em;
	letter-spacing: 3px;
	text-shadow:
	2px 2px #dd0000,
	-2px 2px #dd0000,
	-2px -2px #dd0000,
	2px -2px #dd0000;
	padding-left: 20px;
	padding: 20px 0px 20px 20px;;
}
.divide
{
	float: left;
	box-sizing: border-box;
	width: 50%;
	padding: 20px;
	height: 100%;
}
.divide-second
{
	border-left: 1px dotted #0000dd;
}
section.part
{
	padding-top: 25px;
}
#go-up
{
	position: fixed;
	bottom: 64px;
	right: 64px;
	width: 64px;
	height: 64px;
	background-image: url("img/up.png");
	text-decoration: none;
	opacity: 0.7;
	text-transform: none;
	display: none;
	z-index: 100;
}
#go-up:hover
{
	opacity: 1;
}
footer
{
	background-color: #333;
	color: #eee;
	text-shadow: 
	1px 1px #000,
	-1px 1px #000,
	-1px -1px #000,
	1px -1px #000;
	letter-spacing: 2px;
	padding: 12px 0;
	margin-top: 30px;
}
article img.cubes
{
	border: 1px solid #000;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	margin-right: 2px;
}
article img.magic
{
	border: 1px solid #000;
	width: 140px;
	height: 50px;
	vertical-align: middle;
	margin-right: 2px;
}
article ul > li a
{
	color: white;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
}
article ul > li a
{
	transition: all .35s ease-in-out;
}
article ul > li:hover a
{
	color: #acacdf;
}
.separate
{
	float: left;
	height: 100%;
	vertical-align: top;
	padding: 10px;
}
.separate-first
{
	border-right: 2px dotted #660000;
}
article ol
{
	margin-left: 30px;
	list-style-type: decimal-leading-zero;
}
article ol > li
{
	margin-bottom: 16px;
}
.more:hover
{
	color: #22aa22;
}
.more
{
	transition: all .4s ease;
	cursor: pointer;
}
img.solving
{
	
	border: 3px solid #344335;
		-webkit-box-shadow: 10px 10px 15px -5px rgba(0,0,0,1);
		-moz-box-shadow: 10px 10px 15px -5px rgba(0,0,0,1);
		box-shadow: 10px 10px 15px -5px rgba(0,0,0,1);
	width: 300px;
	height: 300px;
	display: block;
	margin-top: 10px;
}
a.near
{
	display: inline-block !important;
}
section.text
{
	font-weight: 900 !important;
}
.a-solving
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}
.a-solving-help
{
	display: block;
	position: absolute;
}
#algi1
{
	text-decoration: underline;
	cursor: pointer;
}
.xd
{
	position: absolute;
	top: 130px;
	left: 40%;
	font-size: 100px;
}
a.no
{
	color: black;
	text-decoration: none;
}
#liczba
{
	color: #ad02da;
	background-color: #cadaca;
	font-size: 1.4em;
	position: absolute;
	top: 10%;
	right: -75%;
	display: none;
}
#permutacja-j img
{
	border: 3px solid #000;
	width: 15%;
	height: 15%
}
#permutacja-j
{
	text-align: center;
}